In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chokurdakh,RU,2021-03-27 15:04:13,70.6333,147.9167,-9.99,92,99,5.57
1,1,Puerto Ayora,EC,2021-03-27 15:04:13,-0.7393,-90.3518,82.40,74,40,9.22
2,2,Yulara,AU,2021-03-27 15:04:14,-25.2406,130.9889,75.20,69,99,5.75
3,3,Norman Wells,CA,2021-03-27 15:04:14,65.2820,-126.8329,5.00,85,75,6.91
4,4,Sao Filipe,CV,2021-03-27 15:04:12,14.8961,-24.4956,71.04,73,3,12.30

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Puerto Ayora,EC,2021-03-27 15:04:13,-0.7393,-90.3518,82.40,74,40,9.22
2,2,Yulara,AU,2021-03-27 15:04:14,-25.2406,130.9889,75.20,69,99,5.75
5,5,Bathsheba,BB,2021-03-27 15:04:14,13.2167,-59.5167,84.20,54,40,21.85
9,9,Cabedelo,BR,2021-03-27 15:04:16,-6.9811,-34.8339,84.20,74,75,5.75
13,13,Butaritari,KI,2021-03-27 15:04:17,3.0707,172.7902,80.85,79,99,14.94
14,14,Saint-Philippe,RE,2021-03-27 15:04:17,-21.3585,55.7679,78.80,89,90,3.44
20,20,Vao,NC,2021-03-27 15:04:19,-22.6667,167.4833,77.79,79,4,11.83
21,21,Celestun,MX,2021-03-27 15:04:19,20.8667,-90.4000,82.51,59,11,15.90
29,29,Rikitea,PF,2021-03-27 15:04:21,-23.1203,-134.9692,78.55,73,33,20.09
31,31,Avarua,CK,2021-03-27 15:04:22,-21.2078,-159.7750,80.60,83,75,8.05

In [13]:
preferred_cities_df.count()

City_ID       186
City          186
Country       181
Date          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1     Puerto Ayora      EC     82.40  -0.7393  -90.3518
2           Yulara      AU     75.20 -25.2406  130.9889
5        Bathsheba      BB     84.20  13.2167  -59.5167
9         Cabedelo      BR     84.20  -6.9811  -34.8339
13      Butaritari      KI     80.85   3.0707  172.7902
14  Saint-Philippe      RE     78.80 -21.3585   55.7679
20             Vao      NC     77.79 -22.6667  167.4833
21        Celestun      MX     82.51  20.8667  -90.4000
29         Rikitea      PF     78.55 -23.1203 -134.9692
31          Avarua      CK     80.60 -21.2078 -159.7750

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Puerto Ayora,EC,82.40,-0.7393,-90.3518,Finch Bay Galapagos Hotel
2,Yulara,AU,75.20,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
5,Bathsheba,BB,84.20,13.2167,-59.5167,Atlantis Hotel
9,Cabedelo,BR,84.20,-6.9811,-34.8339,Hotel Pigalle
13,Butaritari,KI,80.85,3.0707,172.7902,Isles Sunset Lodge
14,Saint-Philippe,RE,78.80,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
20,Vao,NC,77.79,-22.6667,167.4833,Hotel Kou-Bugny
21,Celestun,MX,82.51,20.8667,-90.4000,Posada Lilia
29,Rikitea,PF,78.55,-23.1203,-134.9692,Pension Maro'i
31,Avarua,CK,80.60,-21.2078,-159.7750,Paradise Inn

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]